.profile__change-avatar-button {
    position: relative;
    background: transparent;
    border: none;

    margin: 0 29px 0 0;
}

.profile__change-avatar-button:hover {
    cursor: pointer;
}

.profile__change-avatar-button:hover::after {
    opacity: 1;
}

.profile__change-avatar-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--black-alpha-80);
    background-image: url('../../../images/edit-icon.svg');
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    transition: opacity 0.3s ease;
}
